
body{
    font-family: Arial, Helvetica, sans-serif
}

header {
    min-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: rgb(240, 159, 106);
    z-index: 2;
  }

header nav{
    margin-right:2%;
}

header nav ul{
    color:black;
}

header nav ul li#logout {
    list-style: none; 
    height: auto;	
    padding: 3px 5px;
    margin-bottom: 2px;
    position:relative; 
    float:right; 
}

header nav ul li#home {
    list-style: none; 
    height: auto;	
    padding: 3px 5px;
    margin-bottom: 2px;
    position:relative; 
    float:left; 
}

header nav ul li a{
    display:block;
    color: black;	 
    text-decoration: none; 
}

header nav ul li a:hover{
    background:#333; 
    color:#fff; 
    text-shadow:0px 0px 5px #fff; 
}

table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

caption {
    font-style:oblique;
    font-size:larger;
}


table thead th {
    background: rgb(223, 220, 220);
}

tr:hover {
    background-color: rgb(235, 199, 176);
}

td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

footer {
    color:black;
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: rgb(240, 159, 106);
}

footer p{
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    font-size: small;
    margin-left:5px
}

form p input[type=text]{
    position:absolute;
    left: 95px;
    border-radius: 3px;
}

form p input[type=password]{
    position:absolute;
    left: 95px;
    border-radius: 3px;
}

.erro {
    color:red;
}

fieldset#login{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

fieldset#cliente{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

fieldset#endereco{
    margin-top: 15px;
    position: relative;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width:1px; 
}

fieldset#cad_endereco{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

form fieldset#cliente p input[type=text]{
    position: absolute;
    left: 140px;
    border-radius: 3px;
}

form fieldset#endereco p input[type=text]{
    position: absolute;
    left: 120px;
    border-radius: 3px;
}

form fieldset#cad_endereco  p input[type=text]{
    position: absolute;
    left: 140px;
    border-radius: 3px;
}


.bt_adicionar {
    border:0; 
    padding:10px;
    border-bottom: 5px solid rgb(240, 159, 106);
}




